/*  ========================================================================  *\
    F O N T  S T Y L E
\*  ========================================================================  */

h1, h2 {
    font-size:       max(24px, 9.259vh);  /*  min.:24px - ca.:100px  */
    letter-spacing:  1vh;
    font-weight:     bold;
    color:           rgba(198, 13, 13, 1);
    text-shadow:     2px 2px rgba(255, 255, 255, 0.75), -1px -1px #444;
    z-index:         20;
  }

      h1 {text-align: left;}
      h2 {text-align: right;} 

  p {
    font-size:       max(14px, 2.777vh);  /*  min.:14px - ca.:30px  */
    letter-spacing:  1px;
    color:           rgba(102, 6, 6, 0.75);
    text-shadow:     1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
    z-index:         20;
  } 

  a {
    text-decoration:  none;
    font-size:        max(18px, 3.516vh);  /*  min.:18px - ca.:36px  */
    letter-spacing:   2px;
    font-weight:      bold;
    color:            rgba(198, 13, 13, 1);
    text-shadow:      1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
    z-index:          20;
  }

      a:hover {
        font-size:       max(20px, 3.906vh);  /*  min.:20px - ca.:40px  */
        letter-spacing:  4px;
        font-weight:     bold;
        color:           rgba(198, 13, 13, 1);
        text-shadow:     1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
        transition:      all 0.5s ease-in-out;
        z-index:         20;
      }


/*  ========================================================================  *\
    T R I A L  B a c k g r o u n d - C o l o r  a n d  - I m a g e
\*  ========================================================================  */

/*body {background-color: darkgreen; z-index: 0;}

h1, h2 {background-color: lightblue; z-index: 0;}

header {background-color: blue; z-index: 0;}
    .header-text {background-color: lightcyan; z-index: 0;}
    .header-image {background-color: red; z-index: 0;}
        .header-top-image-text {background-color: lightgreen; z-index: 0;}
        .header-top-image {background-color: pink; z-index: 0;}
        .header-bottom-image {background-color: darkred; z-index: 0;}
        .header-bottom-image-text {background-color: lightgoldenrodyellow; z-index: 0;}

main {background-color: yellow; z-index: 0;}
    .control-panel {background-color: blueviolet; z-index: 0;}

footer {background-color: darkgreen; z-index: 0;}
    .footer-text {background-color: aqua; z-index: 0;}
    .footer-image {background-color: lightcoral; z-index: 0;}*/