/*  ========================================================================  *\
    H T M L  -  B O D Y
\*  ========================================================================  */
  
  html, body {
    height:        100%;
    width:         100%;
    margin:        0 auto;
    padding:       0 auto;

    font-family:  'Caveat', cursive;
  }
  
  body {
    background-image:    url("../assets/easter-background.png");
    background-color:    rgba(12, 248, 4, 0.9);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: right;
  }

/*  ========================================================================  *\
    C O N T A I N E R
\*  ========================================================================  */

.container {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
      ". header main ."
      ". footer footer .";

  /*justify-items: center;
  align-items:   center;*/

  /*column-gap:    7vw;*/
}

    @media(max-width: 768px) {
        .container {
            display: grid;
            grid-template-columns: 5vw 90vw 5vw;
            grid-template-rows: auto;
            grid-template-areas:
                ". header ."
                ". main ."
                ". footer .";

            /*justify-items: none;
            align-items:   none;*/

            row-gap:    none;
        }
    }


/*  ========================================================================  *\
    F O N T  S T Y L E
\*  ========================================================================  */

  h1, h2 {
    font-size:      9.259vh;  /*  100px - min.:36px  */
    letter-spacing: 1vh;
    font-weight:    bold;
    color:          rgba(198, 13, 13, 1);
    text-shadow:    2px 2px rgba(255, 255, 255, 0.75), -1px -1px #444;
  }

  h1 {text-align: left;}
  h2 {text-align: right;}

  p {
    font-size:      clamp(13px, 1.354vw, 26px);  /*  min.:13px  */
    letter-spacing: 1px;
    color:          rgba(102, 6, 6, 0.75);
    text-shadow:    1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
  } 

  a {
    text-decoration: none;
    letter-spacing:  2px;
    font-weight:     bold;
    color:           rgba(198, 13, 13, 1);
    text-shadow:     1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
  }

  a:hover {
    font-size:      18px;
    letter-spacing: 4px;
    font-weight:    bold;
    color:          rgba(198, 13, 13, 1);
    text-shadow:    1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
    transition:     all 0.5s ease-in-out;
  }


/*  ========================================================================  *\
    H E A D E R
\*  ========================================================================  */

header {
    grid-area:      header;

    display:        flex;
    flex-direction: column;
    row-gap:        10vh;

    width:          auto;
    height:         90vh;
}

    .headet-text {
        width:   auto;
        height:  auto;
    }

    .header-logo {
        width:   auto;
        height:  60vh;

        /*background-color: blueviolet;*/
    }

        .header-logo-image {
            float:   left;
            width:   auto;
            height:  60vh;
        }

@media(max-width: 768px) {
    header {
        grid-area:      header;
    
        display:         flex;
        flex-direction:  column;
        row-gap:         15vh;

        width:           auto;
        height:          auto;
    }
    
        .headet-text {
            width:   90vw;
            height:  25vh;
        }
    
        .header-logo {
            width:          90vw;
            height:         60vh;
            margin-bottom:  5vh;
    
            /*background-color:    blueviolet;*/
        }
    
            .header-logo-image {
                float:   left;
                width:   auto;
                height:  60vh;
            }
}


/*  ========================================================================  *\
    M A I N
\*  ========================================================================  */

main {
    grid-area: main;

    width:     auto;
    height:    90vh;
}

@media(max-width: 768px) {
    main {
        grid-area: main;

        width:     auto;
        height:    90vh;
    }
}


    /*  ========================================================================  *\
        C O N T R O L  P A N E L
    \*  ========================================================================  */

      .control-panel {
        display:         flex;
        align-items:     center;
        justify-content: space-evenly;

        margin:          2vh;
      }

          .text-on-image {
              position:        relative;
              display:         flex;
              justify-content: center;
              align-items:     center;
          }

              .ui-element {
                  width:         100px;
                  height:        40px;
                  border-radius: 8px;
                  box-shadow:    1vh 1vh 1vh rgba(0, 0, 0, 0.5);
              }
      
              .number-overlay {
                  position:       absolute;
                  text-align:     center;
    
                  width:          100%;
                  font-size:      40px;
                  letter-spacing: 10px;
                  font-weight:    bold;
                  color:          rgba(102, 6, 6, 0.75);
                  text-shadow:    1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
              }

          .button {
              cursor:        pointer;
              width:         100px;
              height:        80px;
              border-radius: 12px;
              box-shadow:    1vh 1vh 1vh rgba(0, 0, 0, 0.5);
          }

  
    /*  ========================================================================  *\
        C A N V A S
    \*  ========================================================================  */

      .myCanvas {
        display:         flex;
        align-items:     center;
        justify-content: center;
      }

      .canvas-element {
        box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.5);
      }


/*  ========================================================================  *\
    F O O T E R
\*  ========================================================================  */

footer {
    grid-area:  footer;

    width:      100%;
    height:     auto;
    padding:    0vh 3vh 2vh 0vh;

    text-align: right;
}