/*  ========================================================================  *\
    H T M L  -  B O D Y
\*  ========================================================================  */
  
  html, body {
    height:          100%;
    width:           100%;
    margin:          auto;

    font-family:     'Caveat', cursive;

    display:         flex;
    flex-direction:  column;
    align-items:     center;
    justify-content: center;
  }
  
  body {
    background-image:    url("../assets/easter-background.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: right;
  }

/*  ========================================================================  *\
    C O N T A I N E R
\*  ========================================================================  */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      ". header main ."
      ". footer footer .";

  column-gap: 40px;  /*clamp(20px, 2vw, 40px);  /* Mobil: min.size=20px  -  Tablet: vievport size  -  FHD: max.size=40px  */
}

    @media(max-width: 1025px) {
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            ". header main ."
            ". footer footer .";
      
        column-gap: 40px;  /*clamp(20px, 2vw, 40px);  /* Mobil: min.size=20px  -  Tablet: vievport size  -  FHD: max.size=40px  */
      }
    }

    @media(max-width: 768px) {
      .container {
        display: grid;
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: auto;
        grid-template-areas:
            ". header ."
            ". main ."
            ". footer .";
      }
    }


/*  ========================================================================  *\
    F O N T  S T Y L E
\*  ========================================================================  */

  h1, p {
    margin:       0;
    padding:      0;
  }

  h1 {
    font-size:      clamp(36px, 3.75vw, 72px);  /*  min.:36px  */
    letter-spacing: 10px;
    font-weight:    bold;
    color:          rgba(198, 13, 13, 1);
    text-shadow:    2px 2px rgba(255, 255, 255, 0.75), -1px -1px #444;
  }

  p {
    font-size:      clamp(13px, 1.354vw, 26px);  /*  min.:13px  */
    letter-spacing: 1px;
    color:          rgba(102, 6, 6, 0.75);
    text-shadow:    1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
  } 

  a {
    text-decoration: none;
    letter-spacing:  2px;
    font-weight:     bold;
    color:           rgba(198, 13, 13, 1);
    text-shadow:     1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
  }

  a:hover {
    font-size:      18px;
    letter-spacing: 4px;
    font-weight:    bold;
    color:          rgba(198, 13, 13, 1);
    text-shadow:    1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
    transition:     all 0.5s ease-in-out;
  }


/*  ========================================================================  *\
    H E A D E R
\*  ========================================================================  */

header {
    grid-area: header;

    text-align: center;
}


/*  ========================================================================  *\
    M A I N
\*  ========================================================================  */

main {
    grid-area: main;
}


    /*  ========================================================================  *\
        C O N T R O L  P A N E L
    \*  ========================================================================  */

      .control-panel {
        display:         flex;
        align-items:     center;
        justify-content: space-between;

        margin:          20px 0;
      }

          .text-on-image {
              position:        relative;
              display:         flex;
              justify-content: center;
              align-items:     center;
          }

              .ui-element {
                  width:         100px;
                  height:        40px;
                  border-radius: 8px;
                  box-shadow:    1vh 1vh 1vh rgba(0, 0, 0, 0.5);
              }
      
              .number-overlay {
                  position:       absolute;
                  text-align:     center;
    
                  width:          100%;
                  font-size:      40px;
                  letter-spacing: 10px;
                  font-weight:    bold;
                  color:          rgba(102, 6, 6, 0.75);
                  text-shadow:    1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
              }

          .button {
              cursor:        pointer;
              width:         100px;
              height:        80px;
              border-radius: 12px;
              box-shadow:    1vh 1vh 1vh rgba(0, 0, 0, 0.5);
          }

  
    /*  ========================================================================  *\
        C A N V A S
    \*  ========================================================================  */

      .myCanvas {
        display:         flex;
        align-items:     center;
        justify-content: center;

        /* width:           25%; */
      }

      .canvas-element {
        box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.5);
      }


/*  ========================================================================  *\
    F O O T E R
\*  ========================================================================  */

footer {
    grid-area:  footer;
    /*grid-column: 1/2;
    grid-row: 2;*/

    width:      100%;
    padding:    20px 0;
    text-align: center;
}