/*  ========================================================================  *\
    C O N T A I N E R
\*  ========================================================================  */

.container {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". header main ."
        ". aside footer .";
}


@media(max-width: 1025px) {
    .container {
        display: grid;
        grid-template-columns: 2fr 3fr 3fr 2fr;
        grid-template-rows: auto;
        grid-template-areas:
            ". header main ."
            ". aside footer .";
    }
}


@media(max-width: 768px) {
    .container {
        display:                grid;
        grid-template-columns:  1fr;  /*1fr;*/
        grid-template-rows:     auto;
        grid-template-areas:
            "header"
            "aside"
            "main"
            "footer";
        justify-content:        center;
        max-width:              50vh;
    }
}


/*  ========================================================================  *\
    H E A D E R
\*  ========================================================================  */

header {
    grid-area:      header;
    grid-column:    2;
    grid-row:       1;

    position:       relative;

    width:          3fr;
    height:         34vh;
}

    nav {
        position:  relative;

        width:     3fr;
        height:    12vh;
    }

        .home-button {
                position:  absolute;
                top:       0;
                left:      0;
                
                width:     19vh;   /*  3fr=30%=30*19.2px(1vw)=576px*0.4(40%)=230.4px/10.8(1vh)=21.33vh   */
                height:    4.5vh;
        }

        .contact-button {
                position:  absolute;
                top:       0;
                right:     0;
                
                width:     41vh;
                height:    4.5vh;
        }

        .game-button {
                position:  absolute;
                bottom:    0;
                left:      0;

                width:     36vh;
                height:    4.5vh;
        }

        .finders-button {
                position:  absolute;
                bottom:    0;
                right:     0;

                width:     24vh;
                height:    4.5vh;
        }

        .home-button,
        .contact-button,
        .finders-button,
        .game-button {
                text-align:         center;

                margin:             0.5vh 1.25vh 1vh 0.5vh;
                padding:            0.75vh 0vh 0.75vh 0vh;

                background-image:   url("../assets/menu-background.png");
                background-repeat:  no-repeat;
                background-size:    cover;

                border:             1px solid;
                border-color:       rgba(0, 0, 0, 0.25);
                border-radius:      1vh 1vh 1vh 1vh;
                box-shadow:         1vh 1vh 1vh rgba(68, 68, 68, 0.75);
        }

    .header-logo {
        display:      flex;
        align-items:  center;
        text-align:   center;
 
        width:        100%;
        height:       20vh;
    }

    .header-image {
        position:  absolute;
        right:     0;
        bottom:    -1vh;

        width:     100%;
        height:    auto;

        z-index:   10;
    }


@media(max-width: 1025px) {
    header {
        grid-area:      header;
        grid-column:    2;
        grid-row:       1;
    
        position:       relative;
    
        width:          3fr;
        height:         34vh;
    }
    
        nav {
            position:  relative;
    
            width:     3fr;
            height:    12vh;
        }
    
            .home-button {
                    position:  absolute;
                    top:       0;
                    left:      0;
                    
                    width:     15.5vh;   /*  3fr=30%=30*19.2px(1vw)=576px*0.4(40%)=230.4px/10.8(1vh)=21.33vh   */
                    height:    4.5vh;
            }
    
            .contact-button {
                    position:  absolute;
                    top:       0;
                    right:     0;
                    
                    width:     36.5vh;
                    height:    4.5vh;
            }
    
            .game-button {
                    position:  absolute;
                    bottom:    0;
                    left:      0;
    
                    width:     32.5vh;
                    height:    4.5vh;
            }
    
            .finders-button {
                    position:  absolute;
                    bottom:    0;
                    right:     0;
    
                    width:     19.5vh;
                    height:    4.5vh;
            }
    
            .home-button,
            .contact-button,
            .finders-button,
            .game-button {
                    text-align:         center;
    
                    margin:             0.5vh 1.25vh 1vh 0.5vh;
                    padding:            0.75vh 0vh 0.75vh 0vh;
    
                    background-image:   url("../assets/menu-background.png");
                    background-repeat:  no-repeat;
                    background-size:    cover;
    
                    border:             1px solid;
                    border-color:       rgba(0, 0, 0, 0.25);
                    border-radius:      1vh 1vh 1vh 1vh;
                    box-shadow:         1vh 1vh 1vh rgba(68, 68, 68, 0.75);
            }
    
        .header-logo {
            display:      flex;
            align-items:  center;
            text-align:   center;
     
            width:        100%;
            height:       20vh;
        }
    
        .header-image {
            position:  absolute;
            right:     0;
            bottom:    -1vh;
    
            width:     100%;
            height:    auto;
    
            z-index:   10;
        }
}


@media(max-width: 768px) {
    header {
        grid-area:     header;
        grid-column:   1;
        grid-row:      1;

        position:      relative;
    
        width:         auto;
        height:        34vh;

        border-right:  0.25vh dashed green;
        border-left:   0.25vh dashed green;
    }
    
         nav {
            position:  relative;
    
            width:     auto;
            height:    12vh;
        }
    
            .home-button {
                position:  absolute;
                top:       0;
                left:      0;
                    
                width:     11.5vh;  /*  3fr=30%=30*19.2px(1vw)=576px*0.4(40%)=230.4px/10.8(1vh)=21.33vh   */
                height:    4.5vh;
            }
    
            .contact-button {
                position:  absolute;
                top:       0;
                right:     0;
                    
                width:     35vh;
                height:    4.5vh;
            }
    
            .game-button {
                position:  absolute;
                bottom:    0;
                left:      0;
    
                width:     29vh;
                height:    4.5vh;
            }
    
            .finders-button {
                position:  absolute;
                bottom:    0;
                right:     0;
    
                width:     17.5vh;
                height:    4.5vh;
            }
    
            .home-button,
            .contact-button,
            .finders-button,
            .game-button {
                text-align:         center;
    
                margin:             0.5vh 1.25vh 1vh 0.5vh;
                padding:            0.75vh 0vh 0.75vh 0vh;
    
                background-image:   url("../assets/menu-background.png");
                background-repeat:  no-repeat;
                background-size:    cover;
    
                border:             1px solid;
                border-color:       rgba(0, 0, 0, 0.25);
                border-radius:      1vh 1vh 1vh 1vh;
                box-shadow:         1vh 1vh 1vh rgba(68, 68, 68, 0.75);
            }
    
        .header-logo {
            display:      flex;
            align-items:  center;
            text-align:   center;
     
            width:        100%;
            height:       20vh;
        }

        .header-image {
            position:  absolute;
            right:     0;
            bottom:    -1vh;
    
            width:     100%;
            height:    auto;
    
            z-index:   10;
        }
}


/*  ========================================================================  *\
    A S I D E
\*  ========================================================================  */

aside {
    grid-area:    aside;
    grid-column:  2;
    grid-row:     2 / span 2;

    position:     relative;

    width:        3fr;
    height:       66vh;
}

        .nameday {
            position:       absolute;
            top:            0;

            width:          100%;
            height:         8vh;
            padding:        1vh 2vh 1vh 2vh;
        }

        .nameday-image {
            position:  absolute;
            left:      0;
            top:       6vh;
    
            width:     100%;
            height:    auto;

            z-index:   10;
        }

        .myhome-top-left,
        .mycontact-top-left,
        .mygame-top-left,
        .myfinders-top-left {
            position:  absolute;
            top:       0;
            left:      0;

            width:     calc(100% - 17vh);  /*  aside:width - (*.*)-top-right:width  */
            height:    100%;               /*  aside:height - (*.*)-bottom-right:height  */
            padding:   4vh 0vh 0vh 2vh;

            z-index:   30;
        }

            .myhome-top-left {height: calc(100% - 8vh); top: 8vh;}

        .myhome-top-right,
        .mycontact-top-right,
        .mygame-top-right,
        .myfinders-top-right {
            position:  absolute;
            top:       2vh;
            right:     -7.25vh;  /*  7.25vh = 3.35vw - ca.:46.25%  */

            width:     24.4vh;  /*  FHD-330px=24.4vh (img:330px)  */
            height:    37.0vh;  /*  FHD-500px=37.0vh (img:500px)  */
            
            z-index:   10;
        }

        .myhome-bottom-left,
        .mycontact-bottom-left,
        .mygame-bottom-left,
        .myfinders-bottom-left {
            position:  absolute;
            bottom:    0;
            left:      0;

            width:     45.0vh;  /*  FHD-486px= 45.0vh   (img:500px)  */
            height:    45.0vh;  /*  FHD-486px= 45.0vh   (img:500px)  */

            z-index:   10;
        }

        .mycontact-bottom-left,
        .mygame-bottom-left,
        .myfinders-bottom-left {
            width:     31.5vh;  /*  FHD-500px= 45.0vh   (img:500px)  /*  70%  */
            height:    31.5vh;  /*  FHD-500px= 45.0vh   (img:500px)  /*  70%  */
        }

        .myhome-bottom-right,
        .mycontact-bottom-right,
        .mygame-bottom-right,
        .myfinders-bottom-right {
            position:    absolute;
            bottom:      0;
            right:       0;

            width:       50vh;    /*  Mobil:width= 50vh  (img.:600px)  */
            height:      12.5vh;  /*  Mobil:height= 12.5vh  (img.:150px)  */

            z-index:     10;
        }


@media(max-width: 768px) {
    aside {
        grid-area:     aside;
        grid-column:   1;
        grid-row:      2;
    
        position:      relative;
    
        width:         auto;
        height:        66vh;

        border-right:  0.25vh dashed green;
        border-left:   0.25vh dashed green;
    }
    
        .nameday {
            position:       absolute;
            top:            0;

            width:          100%;
            height:         8vh;
            padding:        1vh 2vh 1vh 2vh;
            border-bottom:  0.2vh solid rgba(128, 128, 128, 0.25);
        }

        .nameday-image {
            position:  absolute;
            left:      0;
            top:       6vh;
    
            width:     100%;
            height:    auto;

            z-index:   10;
        }

        .myhome-top-left,
        .mycontact-top-left,
        .mygame-top-left,
        .myfinders-top-left {
            position:  absolute;
            top:       0;
            left:      0;

            width:     calc(100% - 14.2vh);  /*  aside:width - (*.*)-top-right:width  */
            height:    100%;               /*  aside:height - (*.*)-bottom-right:height  */
            padding:   4vh 0vh 0vh 2vh;

            z-index:   30;
        }

            .myhome-top-left {height: calc(100% - 8vh); top: 8vh;}

        .myhome-top-right,
        .mycontact-top-right,
        .mygame-top-right,
        .myfinders-top-right {
            position:  absolute;
            top:       2vh;
            right:     -5.75vh;  /*  7.25vh = 3.35vw - ca.:46.25%  */

            width:     19.5vh;  /*  FHD-264px=24.444*0.8 = 19.555vh (img:330px)  */
            height:    29.6vh;  /*  FHD-400px=37.037*0.8 = 29.629vh (img:500px)  */
            
            z-index:   10;
        }

        .myhome-bottom-left,
        .mycontact-bottom-left,
        .mygame-bottom-left,
        .myfinders-bottom-left {
            position:  absolute;
            bottom:    0;
            left:      0;

            width:     36.0vh;  /*  FHD-500px= 36.0vh   (img:500px)  */
            height:    36.0vh;  /*  FHD-500px= 36.0vh   (img:500px)  */

            z-index:   10;
        }

        .mycontact-bottom-left,
        .mygame-bottom-left,
        .myfinders-bottom-left {
            width:     25.2vh;  /*  FHD-500px= 36.0vh   (img:500px)  /*  70%  */
            height:    25.2vh;  /*  FHD-500px= 36.0vh   (img:500px)  /*  70%  */
        }

        .myhome-bottom-right,
        .mycontact-bottom-right,
        .mygame-bottom-right,
        .myfinders-bottom-right {
            position:    absolute;
            bottom:      0;
            right:       0;

            width:       50vh;    /*  Mobil:width= 50vh  (img.:600px)  */
            height:      12.5vh;  /*  Mobil:height= 12.5vh  (img.:150px)  */

            z-index:     10;
        }
}


/*  ========================================================================  *\
    M A I N
\*  ========================================================================  */

main {
    grid-area:            main;
    grid-column:          3;
    grid-row:             1 / span 2;

    display:              flex;
    flex-direction:       column;
    justify-content:      center;
    align-items:          center;

    width:                3fr;
    height:               82vh;

    background-image:     url("../assets/game-background.png");
    background-size:      cover;
    background-repeat:    no-repeat;
    background-position:  right;

    border-right:         1px solid green;
    border-left:          1px solid green;
    box-shadow:           1vh 1vh 1vh rgba(0, 0, 0, 0.5);
}

    .myMain {
        width:    auto;
        height:   auto;

        z-index:  100;
    }


@media(max-width: 768px) {
    main {
        grid-area:            main;
        grid-column:          1;
        grid-row:             3;
    
        display:              flex;
        flex-direction:       column;
        justify-content:      center;
        align-items:          center;
    
        width:                auto;
        height:               82vh;
    
        background-image:     url("../assets/game-background.png");
        background-size:      cover;
        background-repeat:    no-repeat;
        background-position:  right;
    
        border-right:         1px solid green;
        border-left:          1px solid green;
        box-shadow:           1vh 1vh 1vh rgba(0, 0, 0, 0.5);
    }
    
}


    /*  ========================================================================  *\
        C O N T R O L  P A N E L
    \*  ========================================================================  */

    #control-panel {
        display:          flex;
        justify-content:  space-between;
        align-items:      center;

        width:            auto;  /*  100%;  /*  48vh;  /*  canvas.width = 12(colums) * size(bodyHeight*0.04) - finder.js  */
        height:           auto;
        margin:           0vh 0vh 2vh 0vh;
    }

        .left-button,
        .right-button {
            position:         relative;

            display:          flex;
            justify-content:  center;
            align-items:      center;
        }

            .element {
                width:          12.5vh;
                height:         6vh;

                border-radius:  1vh;
                box-shadow:     1vh 1vh 1vh rgba(0, 0, 0, 0.5);
            }
      
            .number {
                position:  absolute;
    
                width:     auto;
                height:    auto;
                padding:   0.5vh 0vh 0vh 1vh;
            }

        .center-button {
            cursor:         pointer;

            width:          15vh;
            height:         12vh;

            border-radius:  2.4vh;
            box-shadow:     1vh 1vh 1vh rgba(0, 0, 0, 0.5);
        }

  
    /*  ========================================================================  *\
        C A N V A S
    \*  ========================================================================  */

      #myCanvas {
        display:          flex;
        align-items:      center;
        justify-content:  center;

        cursor:           pointer;
        box-shadow:       1vh 1vh 1vh rgba(0, 0, 0, 0.5);

        z-index:          100;
      }


/*  ========================================================================  *\
    F O O T E R
\*  ========================================================================  */

footer {
    grid-area:     footer;
    grid-column:   3;
    grid-row:      3;

    position:      relative;

    width:         3fr;
    height:        18vh;

    border-right:  1px solid green;
    border-left:   1px solid green;
    box-shadow:    1vh 1vh 1vh rgba(0, 0, 0, 0.5);
}

    .footer-text {
        position:  absolute;
        top:       0;
        left:      0;

        width:     100%;  /*  calc(100% - 2vh - 30%);  /*  min.: 62%  -  2vh = 3%  */
        height:    18vh;
        padding:   0.5vh 30% 0.5vh 2vh;

        z-index:   30;
    }

        audio {
            width:          100%; 
            height:         3vh;
            margin:         0.5vh 0vh 0.5vh 0vh;
    
            border:         1px solid rgba(139, 0, 0, 1);
            border-radius:  3vh;
            box-shadow:     1vh 1vh 1vh rgba(0, 0, 0, 0.3);
    
            z-index:        30;
        }

    .footer-image {
        position:           absolute;
        top:                -14vh;
        right:              -16vh;

        width:              32vh;   /*  img.size: 500px = 32vh  */
        height:             32vh;   /*  img.size: 500px = 32vh  */

        background-image:   url("../assets/footer-logo.png");
        background-repeat:  no-repeat;
        background-size:    cover;

        z-index:            20;
    }


@media(max-width: 768px) {
    footer {
        grid-area:     footer;
        grid-column:   1;
        grid-row:      4;
    
        position:      relative;
    
        width:         auto;
        height:        18vh;
    
        border-right:  1px solid green;
        border-left:   1px solid green;
        box-shadow:    1vh 1vh 1vh rgba(0, 0, 0, 0.5);
    }
    
        .footer-text {
            position:  absolute;
            top:       0;
            left:      0;
    
            width:     100%;  /*  calc(100% - 2vh - 30%);  /*  min.: 62%  -  2vh = 3%  */
            height:    18vh;
            padding:   0.5vh 30% 0.5vh 2vh;
    
            z-index:   30;
        }
    
            audio {
                width:          100%; 
                height:         3vh;
                margin:         0.5vh 0vh 0.5vh 0vh;
        
                border:         1px solid rgba(139, 0, 0, 1);
                border-radius:  3vh;
                box-shadow:     1vh 1vh 1vh rgba(0, 0, 0, 0.3);
        
                z-index:        30;
            }
    
        .footer-image {
            position:           absolute;
            top:                -7.6vh;
            right:              0vh;
    
            width:              19.5vh;   /*  img.size: 380px = 24.32*0.8  = 19.456vh  */
            height:             25.6vh;   /*  img.size: 500px = 32vh*0.8 = 25.6vh  */
    
            background-image:   url("../assets/footer-logo-mobil.png");
            background-repeat:  no-repeat;
            background-size:    cover;
    
            z-index:            20;
        }
}